<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login-form.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <form action="/login" method="POST" novalidate>
        <% if(errorMessage) {%>
        <div>
          <h1><%= errorMessage %></h1>
        </div>
        <% } %>
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            value="<%= oldInput.email %>"
          />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            value="<%= oldInput.password %>"
          />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">Login</button>
      </form>
      <a class="signup" href="/signup">Signup Here</a>
    </div>
  </body>
</html>
