.file-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.folder-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}